body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4; /* Fundo cinza claro */
  margin: 0;
  padding: 0;
  color: #333; /* Texto em cinza escuro */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.quiz-container {
  max-width: 900px;
  width: 100%;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px;
}

#score {
  font-size: 24px;
  margin-bottom: 20px;
  color: #0a66c2; /* Azul principal do tema */
}

#progress-bar-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
}

#progress-bar {
  height: 10px;
  width: 0;
  background-color: #0a66c2; /* Azul principal */
}

.question {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
}

.question-highlight {
  color: #f95c00; /* Laranja para destaque */
  font-weight: 700; /* Peso da fonte aumentado para destaque */
}

.option {
  display: block;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s, box-shadow 0.3s;
  font-size: 18px;
  color: #110b0b;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.option.azul {
  background-color: #599ee4;
}
.option.verde {
  background-color: #2c8631;
}
.option.amarelo {
  background-color: #fdd835;
} /* Amarelo */
.option.laranja {
  background-color: #eb8245;
}
.option.vermelho {
  background-color: #e04f4c;
}
.option.verdeclaro {
  background-color: #abe939;
} /* Verde claro */
.option.cinza {
  background-color: #757575;
}
.option.marrom {
  background-color: #8d6e63;
}
.option.roxo {
  background-color: #8e24aa;
}

.option:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.option.correct {
  border: 3px solid #43a047;
  background-color: #66bb6a;
  box-shadow: 0 0 10px #43a047;
  animation: correctPulse 0.5s infinite alternate;
}

.option.wrong {
  border: 3px solid #e53935;
  background-color: #e57373;
  box-shadow: 0 0 10px #e53935;
  animation: wrongShake 0.5s;
}

@keyframes correctPulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

@keyframes wrongShake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.answer-input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: calc(100% - 22px);
  margin-bottom: 20px;
  color: #333;
}

button {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #0a66c2;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #054a96; /* Azul mais escuro para hover */
}

.feedback {
  font-size: 20px;
  margin-top: 20px;
  color: #333;
}

.correct {
  color: #43a047;
}

.wrong {
  color: #e53935;
}
